@model CheckInCommon.UserCheckIn

@{
    ViewBag.Title = "Check-In";
}

<h2>Check-In</h2>

<h3>Are you ready to check-in?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contactEmail1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contactEmail1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contactEmail2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contactEmail2)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.contactEmail3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contactEmail3)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.contactEmail4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contactEmail4)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.returnTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.returnTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.message)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Check-In" class="btn btn-default" /> |
        </div>
    }
</div>
