@model IEnumerable<CheckInCommon.UserCheckIn>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contactEmail1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contactEmail2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contactEmail3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contactEmail4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.returnTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.message)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contactEmail1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contactEmail2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contactEmail3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contactEmail4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.returnTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.message)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID, sec=item.secString })
        </td>
    </tr>
}

</table>
